<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<title>Add Lesson</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<link crossorigin="anonymous"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	rel="stylesheet">
<link crossorigin="anonymous"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	rel="stylesheet">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<div class="container my-5">
		<h3>Add Lesson</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" method="post" th:action="@{/lessons/add}"
						th:object="${lesson}">
						<div class="row">
							<div class="form-group col-md-8">
								<label class="col-form-label" for="dayOfWeek">Day Of
									Week</label> <input class="form-control" id="dayOfWeek"
									placeholder="Day Of Week" th:field="*{dayOfWeek}" type="text">
								<span class="text-danger" th:errors="*{dayOfWeek}"
									th:if="${#fields.hasErrors('dayOfWeek')}"></span>
							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="timeSpan">Time Span</label> <input
									class="form-control" id="timeSpan" placeholder="Time Span"
									th:field="*{timeSpan}" type="text"> <span
									class="text-danger" th:errors="*{timeSpan}"
									th:if="${#fields.hasErrors('timeSpan')}"></span>
							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="roomId">Room id</label> <input
									class="form-control" id="roomId" placeholder="Room id"
									th:field="*{roomId}" type="text"> <span
									class="text-danger" th:errors="*{roomId}"
									th:if="${#fields.hasErrors('roomId')}"></span>
							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="groupId">Group Id</label> <input
									class="form-control" id="groupId" placeholder="Group Id"
									th:field="*{groupId}" type="text"> <span
									class="text-danger" th:errors="*{groupId}"
									th:if="${#fields.hasErrors('groupId')}"></span>
							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="courseId">Course Id</label> <input
									class="form-control" id="courseId" placeholder="Course Id"
									th:field="*{courseId}" type="text"> <span
									class="text-danger" th:errors="*{courseId}"
									th:if="${#fields.hasErrors('courseId')}"></span>
							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="teacherId">Teacher Id</label>
								<input class="form-control" id="teacherId"
									placeholder="Teacher Id" th:field="*{teacherId}" type="text">
								<span class="text-danger" th:errors="*{teacherId}"
									th:if="${#fields.hasErrors('teacherId')}"></span>
							</div>
							<div class="col-md-6">
								<input class="btn btn-primary" type="submit" value="Add Lesson">
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>