<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<title>Update Student</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<link crossorigin="anonymous"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	rel="stylesheet">
<link crossorigin="anonymous"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	rel="stylesheet">
</head>

<body>
	<div class="container my-5">
		<h3>Update Student</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#" method="post"
						th:action="@{/users/updateStudent/{id}(id=${student.id})}"
						th:object="${student}">
						<div class="row">
							<div class="form-group col-md-6">
								<label class=" col-form-label" for="name"> Name</label> <input
									class="form-control" id="name" placeholder="Name"
									th:field="*{name}" type="text"> <span
									class="text-danger" th:errors="*{name}"
									th:if="${#fields.hasErrors('name')}"></span>
							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="type">Type</label> <select
									class="form-control selectpicker" th:field="*{type}" id="type">
									<option value="STUDENT">Student</option>

								</select>
							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="groupId">Group</label> <select
									class="form-control selectpicker" th:field="*{groupId}"
									id="groupdId">

									<option th:each="group : ${groups}" th:value="${group.getId}"
										th:text="${group.name}">group name</option>
								</select>

							</div>
							<div class="form-group col-md-8">
                        <label class="col-form-label" for="role">Role</label>
                        <select class="form-control selectpicker" th:field="*{role}">
                            <option
                                th:each="roleOpt : ${T(com.foxminded.aprihodko.task10.models.Role).values()}"
                                th:value="${roleOpt}" th:text="${roleOpt}"></option>
                        </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class=" col-form-label" for="passwordHash">
                                Password</label> <input class="form-control" id="passwordHash"
                                placeholder="Password" th:field="*{passwordHash}" type="text">
                            <span class="text-danger" th:errors="*{passwordHash}"
                                th:if="${#fields.hasErrors('passwordHash')}"></span>
                        </div>
							<div class="form-group col-md-8">
								<input class="btn btn-primary" type="submit" value="Update User">
								<a class="btn btn-primary" href="/users/list" role="button">Back</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>