<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<title>Update Lesson</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<link crossorigin="anonymous"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	rel="stylesheet">
<link crossorigin="anonymous"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	rel="stylesheet">
</head>

<body>
	<div class="container my-5">
		<h3>Update Lesson</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#" method="post"
						th:action="@{/lessons/update/{id}(id=${lesson.id})}"
						th:object="${lesson}">
						<div class="row">
							<div class="form-group col-md-8">
								<label class="col-form-label" for="dayOfWeek">Day Of
									Week</label> <select class="form-control selectpicker"
									placeholder="Type" th:field="*{dayOfWeek}" id="dayOfWeek">
									<option
										th:each="dayOfWeek : ${T(java.time.DayOfWeek).values()}"
										th:value="${dayOfWeek}" th:text="${dayOfWeek}">dayOfWeek</option>
								</select>
							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="timeSpan">Time Span</label> <input
									class="form-control" id="timeSpan" placeholder="Time Span"
									th:field="*{timeSpan}" type="text"> <span
									class="text-danger" th:errors="*{timeSpan}"
									th:if="${#fields.hasErrors('timeSpan')}"></span>
							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="roomId">Room</label> <select
									class="form-control selectpicker" placeholder="Room ID"
									th:field="*{roomId}" id="roomdId">

									<option th:each="room : ${rooms}" th:value="${room.getId}"
										th:text="${room.title}">room title</option>
								</select>

							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="groupId">Group</label> <select
									class="form-control selectpicker" placeholder="Group ID"
									th:field="*{groupId}" id="groupId">

									<option th:each="group : ${groups}" th:value="${group.getId}"
										th:text="${group.name}">group name</option>
								</select>

							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="courseId">Course</label> <select
									class="form-control selectpicker" placeholder="Course ID"
									th:field="*{courseId}" id="courseId">

									<option th:each="course : ${courses}"
										th:value="${course.getId}" th:text="${course.name}">course
										name</option>
								</select>

							</div>
							<div class="form-group col-md-8">
								<label class="col-form-label" for="teacherId">Teacher</label> <select
									class="form-control selectpicker" placeholder="Teacher ID"
									th:field="*{teacherId}" id="teacherId">

									<option th:each="teacher : ${teachers}"
										th:value="${teacher.getId}" th:text="${teacher.name}">teacher
										name</option>
								</select>
							</div>

							<div class="form-group col-md-8">
								<input class="btn btn-primary" type="submit"
									value="Update Lesson"> <a class="btn btn-primary"
									href="/lessons/list" role="button">Back</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>